@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram - @ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/images/icon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Instagram.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="p-lg-3"></div>
    <div class="p-lg-4"></div>
    <div class="col-lg-10 p-5 h_container m-auto">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/images/lotus.png" width="150px" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-lg-9">
                        <li class="nav-item col-lg-2 p-2">
                            <a class="menu menu-active" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item col-lg-2 p-2">
                            <a class="menu" asp-controller="Home" asp-action="Team">Team</a>
                        </li>
                        <li class="nav-item col-lg-2 p-2">
                            <a class="menu" asp-controller="Home" asp-action="SignUp">Sign Up</a>
                        </li>
                        <li class="nav-item col-lg-3 p-2">
                            <a class="menu" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                    </ul>
                    

                </div>
            </div>
        </nav>
        <div class="row m-0 p-0 h_row">
            <div class="col-lg-6 m-0 p-0 text">
                <div class="p-5"></div>
                <h1>Instagram</h1>
                <div class="p-4"></div>
                <p>Welcome to our Instagram!!</p>
                <p>
                    Here, we register and make friends. We also share our posts and experiences.
                    We can contact admin regarding our queries. The admin has veto power to ban
                    any user or post.
                </p>
                <div class="p-4"></div>
                <div class="accessories m-0 p-0">
                    <a class="trynow" asp-controller="Home" asp-action="SignIn">
                        Try Now</a>
                    
                    <a class="anchor" asp-controller="Home" asp-action="AdminLogin">
                        Sign in as Admin
                    </a>  
                </div>
            </div>
            <div class="col-lg-6 m-0 p-0 h_insta_block d-flex align-items-center justify-content-around">
                <img src="~/images/h_insta.svg" />
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
